# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:

- checkout: none
- script: |
      echo $GIT_SSH_PRIVATE_KEY > /tmp/git_ssh_private_key
      
      cat /tmp/git_ssh_private_key
      chmod 400 /tmp/git_ssh_private_key

      eval $(ssh-agent)
      ssh-add /tmp/git_ssh_private_key

      ssh-add -l

  displayName: 'teste pipeline'
  env:
    GIT_SSH_PRIVATE_KEY: $(git_ssh_private_key)
    GITHUB_REPO_URL: $(git_repo_url)

